<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zq.cloud.authuser.dal.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.zq.cloud.authuser.dal.model.User">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="head_portrait_id" jdbcType="BIGINT" property="headPortraitId"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="is_available" jdbcType="BIT" property="isAvailable"/>
        <result column="is_admin" jdbcType="BIT" property="isAdmin"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp"/>
        <result column="last_login_address" jdbcType="VARCHAR" property="lastLoginAddress"/>
        <result column="login_time" jdbcType="TIMESTAMP" property="loginTime"/>
        <result column="login_ip" jdbcType="VARCHAR" property="loginIp"/>
        <result column="login_address" jdbcType="VARCHAR" property="loginAddress"/>
    </resultMap>
</mapper>